<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="author" content="" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="content-language" content="en-AU" />
  <meta name="copyright" content="&copy; 2007 " />
  <title>Adjax</title>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/screen.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/print.css" media="print" />

</head>
<body>

<h1><a href="{% url home %}"><span>Adjax</span></a></h1>

<div id="content">

<ul id="navigation">
  <li{% ifequal page "what" %} class="active"{% endifequal %}><a href="/what/">What?</a></li>
  <li{% ifequal page "how" %} class="active"{% endifequal %}><a href="/how/">How?</a></li>
  <li{% ifequal page "where" %} class="active"{% endifequal %}><a href="/where/">Where?</a></li>
  <li{% ifequal page "who" %} class="active"{% endifequal %}><a href="/who/">Who?</a></li>
</ul>

{% block content %}{% endblock %}

</div>

<div id="footer">
<p class="attribution"><a href="http://hardysoftware.com.au/"><span>Hardy Software</span></a></p>
</div>

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/api.js"></script>
</body>
</html>

