{% extends "base.html" %}

{% block content %}
    <h2>Who's responsible for this mess?</h2>
    <p>Adjax is written by Will Hardy (<a href="http://www.hardysoftware.com.au/">Hardy Software</a>).</p>
    <p>Send any queries, questions or comments to <span class="email-address">adjax at hardysoftware dot com dot au</span></p>
    <p>If something is broken, if you have a good idea for an improvement or maybe you would would do things differently, please consider taking the time to <a href="http://code.google.com/p/django-adjax/ssues/entry">submit a bug report</a>.</p>


    <p>Django is a registered trademark of the <a href="http://www.djangoproject.com/foundation/">Django Software Foundation</a>.</p>
{% endblock %}
